.task-component {
  &-content {
    margin: 10px;
  }
  .task-text {
    color: #212121 !important;
  }

  ul.done-tasks, ul.tasks {
    li {
      cursor: pointer;
    }
  }

  ul.done-tasks {
    li {
      text-decoration: line-through;
      opacity: .6;
    }
  }

  .collection-item.active {
    @extend .blue, .lighten-5;
    color: #000;
    .secondary-content {
      @extend .grey-text, .text-darken-2
    }
  }

  .collection-item {
    .secondary-content {
      @extend .grey-text, .text-darken-2
    }
  }

  .btn {
    background: $vue-color;
  }

  .input-field label {
    color: #212121;
  }

  .input-field input[type=text]:focus + label {
    color: #212121;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #212121;
    box-shadow: 0 1px 0 0 #212121;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #212121;
    box-shadow: 0 1px 0 0 #212121;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #212121;
    box-shadow: 0 1px 0 0 #212121;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #212121;
  }
}