@import "~materialize-css/sass/materialize.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "variables";
@import "task";
@import "dashboard";

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;

}


.app {
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #36495D;
    h1 {
      margin-bottom: 20px;
    }
  }
}

.navigation-component {
  nav {
    background-color: #47B784;
    img {
      background: #E53935;
      height: 100%;
      padding: 10px;
    }
  }
}

.login-component, .register-component {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  &__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 30%;
    &__alert-text {
      min-height: 20px;
    }
    input {
      padding: 3px 10px;
    }
    .is-danger {
      border: 1px solid red;
    }
    span {
      color: red;
      text-align: left;
    }
  }

  button {
    margin-bottom: 25px;
  }
}

footer {
  background-color: #47B784 !important;
  margin-top: 200px;
  img {
    width: 50px;
  }
}

@media only screen and (max-width: 414px) {
  .login-component, .register-component {
    &__form {
      margin: 0 15px;
    }
  }
}
